.Dictionary {
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 40%;
    background-color: white;
    height: 100%;
    border-left: 2px solid lightgrey;
}
