.areas-container {
    /*padding: 10px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

textarea {
    border: 2px dashed #3DB39E;
    position: relative;
    width: 35%;
    padding: 10px;
    height: 70px;
    resize: none;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}
button.translate {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    /*position: absolute;*/
    width: 40px;
    height: 40px;
    background: url('../../img/refresh-button.svg');
}
button.translate:hover {
    transform: rotate(70deg);
    transition: .6s;
}

button.add {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: url('../../img/add-circular-outlined-button.svg');
}
